li{ list-style: none;}
hr{ color: black; }
.diplay-ib{
	display: inline-block;
}
/* body 스크롤 방지용 */
.stop-scroll{
  height: 100%;
  overflow: hidden;
}

.genDT-when{ border-right: 1px solid #5c5776; }

th, td{
	color: black;
	font-size: 1.1rem;
	vertical-align: top;
}
.genDT-caption-price{ background-color: white;}
.genDT-caption-title{
	color: black;
	font-size: 1.1rem;
	font-weight: bold;
}
.genDT-caption-content{
	color: black;
	font-size: 1rem;
}


.rn-04{overflow:hidden; background-color: white; padding :12px; height: 450px;}
.rn-04 > div{box-sizing:border-box;border:1px solid #ddd;height:100%;}
.rn-04 .rn-04-left{float:left;width:659px;position:relative;}
.rn-04 .rn-04-left > div{width:560px; margin:0 auto;position:relative;z-index:1;}
.rn-04 .rn-04-left .rn-04-left-tit{border-bottom:2px solid #000;letter-spacing:-0.07em;width:560px; margin:0 auto;padding:39px 0 18px 0;font-size:18px;color:#333;font-weight:bold;}
.rn-04 .rn-04-left .rn-04-left-wrap{width:560px; margin:26px auto 27px auto;overflow:hidden;}
.rn-04 .rn-04-left .rn-04-left-wrap > div{float:left;position:relative;}
.rn-04 .rn-04-left .rn-04-left-wrap > div:last-child:before{content:"";display:block;width:1px;height:212px;background:#ddd;position:absolute; top:0;left:-1px;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-cal{width:299px;border-right:1px solid #ddd;overflow:hidden;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist{width:260px;text-align:center;overflow:hidden;overflow-y:auto;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist a{display:inline-block;width:208px;height:32px;line-height:32px;border:1px solid #ddd;font-size:15px;color:#333;text-align:center;margin:0 0 8px 7px;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist a.on{color:#fff;border:1px solid #ec7d2c;background:#ec7d2c;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist a span{padding-right:9px;margin-left:-12px;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist .mCSB_container_wrapper{margin-right:0;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist .mCSB_container_wrapper > .mCSB_container{padding-right:0;}
.rn-04 .rn-04-left .rn-04-left-wrap .rn-04-left-calist.on .mCSB_scrollTools .mCSB_dragger{top:0 !important;}
.rn-04 .rn-04-right{float:right;width:541px;position:relative;left:-1px;}
.rn-04 .rn-04-right .rn-04-right-tit{border-bottom:2px solid #000;letter-spacing:-0.07em;width:440px; margin:0 auto;padding:39px 0 18px 0;font-size:18px;color:#333;font-weight:bold;}
.rn-04 .rn-04-right .rn-04-right-list{width:438px; margin:0 auto;border:1px solid #ddd;margin-top:25px;padding:33px 0;}
.rn-04 .rn-04-right .rn-04-right-list dl{padding:0 33px;font-size:15px;color:#333;line-height:30px;}
.rn-04 .rn-04-right .rn-04-right-list dl dt{float:left;color:#333;margin-right:8px;}
.rn-04 .rn-04-right .rn-04-right-list dl dd{clear:right;color:#333;}
.rn-04 .rn-04-right .rn-04-right-list .mCSB_scrollTools{right:-5px;}


.genDT-bookBtn{ background-color: #FBBC04; margin: 30px auto; width: 250px; height: 50px; line-height: 50px; text-align: center; font-size: 1.2rem; font-weight: bold; border-radius: 3px; box-shadow: 3px 3px 3px 3px lightgray;}
.genDT-bookBtn a:hover{color: white;}


/* 탭 메뉴 */
.genDT-tap-area{padding-bottom:58px;}
.genDT-tap-area ul{overflow:hidden;margin-left:-24px;}
.genDT-tap-area ul li{float:left;margin-left:24px;}
.genDT-tap-area ul li div a{display:block;}
.genDT-tap-area ul li div a img{display:block;}
.genDT-tap-area ul li .genDT-tap-list{margin-bottom:24px; width:220px; height:309px;position:relative;}
.genDT-tap-area ul li .genDT-tap-list a{width:100%; height:309px;overflow:hidden;} 
.genDT-tap-area ul li .genDT-tap-list a img{width:100%; height:309px; transition:all 0.3s;} 
.genDT-tap-area ul li .genDT-tap-list a .top5-list-txt{width:100%; height:309px; background:rgba(0,0,0,0.6); position:absolute; left:0; top:0;display:table;opacity:0;transition: all 0.3s;} 
.genDT-tap-area ul li .genDT-tap-list a .top5-list-txt div{display:table-cell; text-align:center;vertical-align:middle;padding:0 15px;}
.genDT-tap-area ul li .genDT-tap-list a .top5-list-txt div .genDT-tap-title{font-size:18px; line-height:25px; color:#fff; }
.genDT-tap-area ul li .genDT-tap-list a .top5-list-txt div .genDT-tap-detail{font-size:13px; line-height:20px; color:#fff; margin:15px 0; }
.genDT-tap-area ul li .genDT-tap-list a:hover img{transform:scale(1.04);} 
.genDT-tap-area ul li .genDT-tap-list a:hover .top5-list-txt{opacity:1;} 
.genDT-tap-area ul li .genDT-tap-list a:hover img{transform:scale(1.04);}

/* 탭 선택 시 표시할 요소(div) 정의(1번 탭 선택 시 첫 번째 div 요소 표시) */
.genDT-tap input:nth-of-type(1), .genDT-tap input:nth-of-type(1) ~ div:nth-of-type(1), .genDT-tap input:nth-of-type(2), .genDT-tap input:nth-of-type(2) ~ div:nth-of-type(2), .genDT-tap input:nth-of-type(3), .genDT-tap input:nth-of-type(3) ~ div:nth-of-type(3) {
    display:none
}
.genDT-tap input:nth-of-type(1):checked ~ div:nth-of-type(1), .genDT-tap input:nth-of-type(2):checked ~ div:nth-of-type(2), .genDT-tap input:nth-of-type(3):checked ~ div:nth-of-type(3) {
    display:block;
}

/* 라벨 기본 스타일 지정 */
.genDT-tap > label {
    display:inline-block;
    font-variant:small-caps;
    padding:5px;
    text-align:center;
    width:10%;
    line-height:1.8rem;
	font-size: 1.1rem;
    font-weight:700;
    color:#777;
}
.genDT-tap > label:hover {
    cursor:pointer
}
.genDT-tap label[for=genDT-tab1] {
    margin-left:1.5em
}

/* 선택된 라벨, 커서를 올린 라벨 스타일 지정 */
.genDT-tap input:nth-of-type(1):checked ~ label:nth-of-type(1), .genDT-tap > label[for=genDT-tab1]:hover {
    color: black;
    border-bottom: 10px solid #FBBC04;
}
.genDT-tap input:nth-of-type(2):checked ~ label:nth-of-type(2), .genDT-tap > label[for=genDT-tab2]:hover {
    color: black;
    border-bottom: 10px solid #FBBC04;
}
.genDT-tap input:nth-of-type(3):checked ~ label:nth-of-type(3), .genDT-tap > label[for=genDT-tab3]:hover {
    color: black;
    border-bottom: 10px solid #FBBC04;
}

.genDT-tap-area p{ font-size: 1.1rem; color: black; }
.genDT-tap2-part{ display: flex; margin-top: 15px; margin-bottom: 15px;}
.genDT-tap3-tbl tr{ border-bottom: 1px solid #e1e1e1;}
.genDT-tap3-tbl tr:first-child{ border-top: 1px solid #e1e1e1;; }
.genDT-tap3-tbl th{ background-color: #FBBC04; text-align: center; }
.genDT-tap3-tbl td{ text-align: center;  vertical-align: middle; }


/*후기테이블*/
#tbl-comment{
  width:1200px;
  margin:0 auto; 
  border-collapse:collapse; 
  clear:both; 
} 

#tbl-comment tr td{
  border-bottom:1px solid black; 
  text-align:left; 
  line-height:200%;
}
table#tbl-comment tr td:first-of-type{
  padding: 5px 6px 7px 70px;
}

table#tbl-comment tr td:last-of-type { width: 100px;}
.comment-count{
  font-weight: 800;
  color: tomato;
}

table#tbl-comment button.btn-delete{
  display:none;
  margin: 10px 0px;
  line-height: 50%;
  margin-right: 20px;
  height: 40px;
}

table#tbl-comment button.btn-update{
  display:none;
  margin: 10px 0px;
  line-height: 50%;
  margin-right: 10px;
}

.reply-btns{
	display: flex;
	 background-color: lightgray;
}

table#tbl-comment tr:hover button.btn-delete{
  display:inline-block;
  background-color: black;
  color: white;
}
table#tbl-comment tr:hover button.btn-update{
  display:inline-block;
  background-color: black;
  color: white;
}

#comment:hover td{
  background-color: lightgray;
}
.commnet:hover td{
	background-color: transparent;
}
.comment-count:hover td{
  background-color: transparent;
}

table#tbl-comment sub.comment-writer {
  color:navy; 
  font-size:18px;
  font-weight: 600;
  background-color: transparent;
}
table#tbl-comment sub.comment-date {
  color:tomato; 
  font-size:15px;
  background-color: transparent;
}
/*후기 입력창*/
.comment-editor{
  display: flex;
  justify-content: center;
}
#replyContent{
  margin: 30px 10px;
  resize: none;
  background-color: transparent;
  text-align: left;
  font-family: 'Noto Sans KR', sans-serif;
  padding: 15px;
  font-size: 15px;
}
#btn-insert{
  width: 70px;
  height: 40px;
  margin-top: 85px;
}
.comment-inputer{
  margin-bottom: 50px;
}


/* 위로가기 버튼 css*/
#goingTop {
    position: fixed;
    right: 2%;
    bottom: 20%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #6699cc;
    color: #ffffff;
    font-size: 25px;
    box-shadow: 0px 0px 5px #3973ac;
    cursor: pointer;
}